# .gitignore

*.DS_Store
*.last-run
*.sublime-package

Package Control*
!Package Control.sublime-settings

# Compare Side-By-Side
SBSCompare.tmTheme
SBSCompareTheme.tmTheme
SBSCompareScheme.sublime-color-scheme

TextPastryHistory.sublime-settings
Sublimerge Macros.sublime-commands
