Color Highlighter/
Package Control.cache/
Package Control.ca-cert/
.SublimeREPLHistory/

*.DS_Store
*.last-run
*.sublime-package

Package Control.cache
Package Control.ca-list
Package Control.ca-bundle
Package Control.user-ca-bundle
Package Control.merged-ca-bundle
Package Control.system-ca-bundle
TextPastryHistory.sublime-settings
Sublimerge Macros.sublime-commands
